<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>hu.safi.language.server.Init</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>dataServlet</servlet-name>
    <servlet-class>hu.safi.language.server.LanguageServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>initServlet</servlet-name>
    <url-pattern>/language/init</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>dataServlet</servlet-name>
    <url-pattern>/language/data</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Language.html</welcome-file>
  </welcome-file-list>

</web-app>
